body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqPLFEgAGRQ5krh95adO0Bc_zgcukM2TRBZw&usqp=CAU);
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100%;
    background-color: rgb(252, 134, 134);
}
.container{
    border: 4px solid black;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    margin-left: 600px;
    margin-top: 150px;
}
.row{
    text-align: center;
    margin-top: 10px;
}
.row input{
    padding: 15px 50px;
    border: 4px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.btn{
    width:70px;
    padding: 20px;
    font-size: x-large;
    border: 4px solid black;
    cursor: pointer;
    border-radius:100%;
}